node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# apple oauth
scripts/client_secret.txt
scripts/**.p8

# supabase
lib/supabase-keys.js
